<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    {% include 'base/css.html' %}

</head>
<body>
{% include 'base/navbar.html' with brand_name="Lessly's Flowers"%}
<div class="container">
    {% block content %}

    {% endblock %}
</div>
{% include 'base/js.html' %}
<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!--// jquery for filtering invoices by months-->
<script>
    $(document).ready(function () {
        // pulling 'invoice-form' in
        var invoiceForm = $('.invoice-form')
        // console.log('inside .ready')

        invoiceForm.submit(function (event) {
            console.log('inside invoiceForm submit function')
            // grabbing data related to this form
            var thisForm = $(this)
            // the url
            var actionEndpoint = thisForm.attr("data-endpoint")
            // actual method - GET
            var httpMethod = thisForm.attr("method")
            // the form data
            var formData = thisForm.serialize();


            $.ajax({
                type: "GET",
                url: actionEndpoint,
                method: httpMethod,
                data: formData,

                success: function (data) {
                    console.log({data});
                    console.log("inside invoiceForm success")
                }
            })
        })

        // pulling 'invoices-products-form' in
        var invoiceProductForm = $('.invoices-products-form')
        // console.log('listing to invoiceProductForm')

        invoiceProductForm.submit(function (event) {
            console.log('inside invoiceProductForm function')

            var thisForm = $(this)
            var actionEndpoint = thisForm.attr('data-endpoint')
            var httpMethod = thisForm.attr('method')
            var formData = thisForm.serialize();

            $.ajax({
                type: "GET",
                url: actionEndpoint,
                data: formData,

                success: function (data) {
                    var submitSpan = thisForm.find(".submit-span")
                    if (data) {
                        submitSpan.html('Found data')
                    } else {
                        submitSpan.html('no data')
                    }
                    console.log({data})
                    console.log(' inside invoiceProductForm success ')
                },
                error: function (errorData) {
                    console.log("error")
                    console.log(errorData)
                }
            })
        })
    });
</script>

<!--// jquery for updating products in the inventory-->
<script>
    $(document).ready(function () {

        const dropdown = document.getElementById("myDropdown");
        const hiddenInventoryId = document.getElementById("hidden-product-id");
        const usedInventory = document.getElementById("used-inventory")
        const inventoryUpdateForm = $('.inventory-update-form')
        const form = document.getElementById("inventory-update-form")

        window.onload = function (){
            dropdown.addEventListener("change", function (e) {
            const valueSelected = e.target.value;
            console.log("here", valueSelected)
            if (valueSelected === "") {
                form.hidden = true;
                hiddenInventoryId.value = ""

            } else {
                form.hidden = false;
                hiddenInventoryId.value = valueSelected

            }
        });
        }

        inventoryUpdateForm.submit(function (event) {
            // grabbing data related to this form
            event.preventDefault()
            const thisForm = $(this);
            // the url
            const actionEndpoint = thisForm.attr("data-endpoint")
            // actual method - GET
            const httpMethod = thisForm.attr("method")

            // the form data
            const formData = thisForm.serializeArray();



            formData.push({name: "inventoryId", value: hiddenInventoryId.value} )
            formData.push({name: "usedInventory", value: usedInventory.value} )
            $.ajax({
                type: "POST",
                url: actionEndpoint,
                method: httpMethod,
                data: formData,

                success: function (data) {
                    $('#msg').html("Update Successfully").fadeIn('slow');
                    $('#msg').delay(5000).fadeOut('slow');

                },
                error: function (response){
                    $('#msg').html("not enough inventory").fadeIn('slow');
                    $('#msg').delay(5000).fadeOut('slow');
                }
            })
        })

    });
</script>

</body>
</html>