<!--{% load static %}-->
<!DOCTYPE>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    {% include 'base/css.html' %}

</head>
<body>
{% include 'base/navbar.html' with brand_name="Lessly's Flowers"%}
<div class="container">
    {% block content %}

    {% endblock %}
</div>
{% include 'base/js.html' %}
<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="javaScript/invoice_view.js"></script>
<script src="javaScript/invoices_product_view.js"></script>
</body>
</html>