{% extends "base/base.html" %}


{% block content %}
<table class="table table-striped" align="center">
    <thead class="thead-dark">
    <tr>
        <th> Name:</th>
        <th> Unit Prices: </th>
        <th> Total Bunches:</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td> {{ product.name }}</td>
        <td> {{product.unit_price }}</td>
        <td> {{ product.total_units}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div align="center" style="padding:25px">
    {% include 'forms/inventory_graph_form.html' %}
</div>

{% endblock %}