<form class="invoices-products-form" method="GET" action='{% url "import:invoice_product" %}'
      data-endpoint='{% url "import:invoice_product" %}'>
    {% csrf_token %}
    <!--// set up button for each invoice-->
    <span class="submit-span">
<!--            {{ invoice.id}}-->
            <label for="invoice_input"> {{ invoice.id }}</label>
            <input id="invoice_input" type="hidden" name="invoice_id" value="{{ invoice.id }}">
            <button type="submit" class="btn btn-success">Submit</button>
        </span>
</form>