<select id="myDropdown" class="form-select" name="dropdown">
    <option selected value="">Select Product</option>
    {% for inventory_instance in inventory_queryset %}
    <option value={{inventory_instance.id}}>{{inventory_instance.product.name}}</option>
    {% endfor %}
</select>

 <div id='msg'></div>
<form hidden class="inventory-update-form" method="POST" action='{% url "import:select_product_to_update" %}'
      data-endpoint='{% url "import:select_product_to_update" %}' id="inventory-update-form">
    {% csrf_token %}

    <label for="used-inventory"> How many bunches were used today? </label>
    <input id="used-inventory" type="number" step="1">
    <input id="hidden-product-id" name="" type="hidden"></input>
    <button id="save-used-inventory" type="submit" class="btn btn-success">Save</button>


</form>

