{% extends "base/base.html" %}

{% block content %}

<canvas id="myChart" width="800" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const product_total_units = JSON.parse("{{ product_total_units|escapejs }}")
    const product_names = JSON.parse("{{ product_names|escapejs}}")

    function getRandomColor() {
        let letters = '0123456789ABCDEF'.split('');
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var bg_colors = product_total_units.map(item => getRandomColor())

    console.log({product_total_units, product_names})
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: product_names,
            datasets: [{
                label: "Inventory",
                data: product_total_units,
                backgroundColor: bg_colors,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantity of Bunches',
                        padding: 30,

                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Flowers',
                        padding: 30

                    }
                }
            }
        }
    });
</script>


{% endblock %}